<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
</head>
    <body>
    	<header class="header">
            <div class="logo">
                <img src="images/logoproject.png" alt="logo-tab" height="80" width="80" preserveAspectRatio="none">
                <img src="images/project banner.png" alt="logo-banner" height="80" width="140" preserveAspectRatio="none">
            </div>
        </header>

    	    <h2>Sorry, you don't have permission!</h2>
    	    <h3><a th:href="@{/}">Go Back to Home</a></h3>

    </body>
</html>