<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Request</title>
</head>
<body>
	<div align="center">
		<h1>Edit Request</h1>
		<br/>
		<form action="#" th:action="@{/request/save}" th:object="${request}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Request ID:</td>
					<td>
						<input 
						type="text" 
						th:field="*{id}" 
						readonly="readonly" 
						/>
					</td>
				</tr>			
				<tr>
					<td>Request Name:</td>
					<td>
						<input 
						type="text" 
						th:field="*{name}" 
						placeholder="Name of product"
						/>
					</td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td>
						<input 
						type="text" 
						th:field="*{amount}" 
						placeholder="Amount of product"
						/>
					</td>
				</tr>				
				<tr>
					<td>Date:</td>
					<td>
						<input 
						type="text" 
						th:field="*{datetime}" 
						placeholder="DD-MM-YYYY"
						/>
					</td>
				</tr>				
				<tr>
					<td>Description:</td>
					<td>
						<input 
						type="text" 
						th:field="*{description}" 
						placeholder="Description of Request"
						/>
					</td>
				</tr>	
				<tr>
					<td>Branch:</td>
					<td>
						<input 
						type="text" 
						th:field="*{branch}" 
						placeholder="Branch"
						/>
					</td>
				</tr>
				<tr>
					<td>Status:</td>
					<td>
						<input 
						type="text" 
						th:field="*{status}" 
						placeholder="Status"
						/>
					</td>
				</tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>