<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatuilay</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <script 
      type="text/javascript" 
      src="/webjars/jquery/jquery.min.js">
    </script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js">
    </script>
  </head>
  
  <body>
    <div class="container text-center">
      <div>
        <h1>Welcome to the Spring Boot Demo</h1>
      </div>

      <nav class="navbar">
        
        <a th:href="@{/}">Home</a>
        <a th:href="@{/users}">List of Users</a>
        <a th:href="@{/request}">List of Products</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/register}">Register</a>
    </nav>

    </div>
  </body>
</html>
