<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Request Manager</title>
</head>
<body>
<div align="center">
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Request Manager</h1>
	<div sec:authorize="hasAnyAuthority('Admin')">
		<a th:href="@{/request/new}">Create New Request</a>
	</div>
	
	<br/><br/>
	<form th:action="@{/request/page/1}">
		<input th:type="hidden" name="sortField" th:value="${sortField}" />
		<input th:type="hidden" name="sortDir" th:value="${sortDir}" />
		Filter: <input type="text" name="keyword" th:value="${keyword}" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Product ID</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Name</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=amount&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Amount</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=datetime&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Date</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Description</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=branch&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Branch</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=status&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Status</a></th>
				<th><a th:href="@{'/request/page/' + ${currentPage} + '?sortField=type&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Type</a></th>

				<th sec:authorize="hasAnyAuthority('Admin')">Actions</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="request : ${listRequest}">
				<td th:text="${request.id}">Product ID</td>
				<td th:text="${request.name}">Name</td>
				<td th:text="${request.amount}">Amount</td>
				<td th:text="${request.datetime}">Date</td>
				<td th:text="${request.description}">Description</td>
				<td th:text="${request.branch}">Branch</td>
				<td th:text="${request.status}">Status</td>
				<td th:text="${request.type}">Type</td>
				<td sec:authorize="hasAnyAuthority('Admin')">
					<a th:href="@{'/request/edit/' + ${request.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('Admin')" th:href="@{'/request/delete/' + ${request.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div>&nbsp;</div>
	<div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
	<div>&nbsp;</div>
	<div th:if="${totalPages > 1}">
		Total Items: [[${totalItems}]]
		&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/request/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/request/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/request/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" >[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/request/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/request/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
	</div>
</div>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/request}]]";
	}
</script>
</body>
</html>