<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel= "icon" href= "images/logoproject.png" type = "image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/slide_box.css"/>

	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="header">
        <div class="logo">
            <img src="images/logoproject.png" alt="logo-tab" height="80" width="80" preserveAspectRatio="none">
            <img src="images/project banner.png" alt="logo-banner" height="80" width="140" preserveAspectRatio="none">
        </div>
        <nav class="navbar">
            <a th:href="@{/}">MANU</a>
            <a th:href="@{/users}">List of Users</a>
            <a th:href="@{/store}">Store</a>
            <a th:href="@{/request}">Tracking</a>
            <a th:href="@{/request/new}">Request</a>
        </nav>


        <div class="fas fa-bars" id="menu-btn"></div>
    </header>

	</br></br></br></br></br></br></br></br></br></br></br>

	<div class="container text-center">
	<div>
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]] </b>
				<span sec:authentication="principal.authorities"></span>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>

	<div>
		<h1>List of Users</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>E-mail</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Roles</th>
					<th>Telphone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${listUsers}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.email}">E-mail</td>
					<td th:text="${user.firstname}">First Name</td>
					<td th:text="${user.lastname}">Last Name</td>
					<td th:text="${user.roles}">Roles</td>
					<td th:text="${user.telphone}">Telphone</td>
					<td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>